# ${{ values.repoSlug }} TechDocs

{%if values.techDocsBody %} 
    ${{ values.techDocsBody }} 
{% else %}
    ## What is this?

    This is a placeholder TechDocs page. Here you will write your technical documentation for your software. This supports markdown, so get styling!

    ## Basic Syntax

    These are the elements outlined in John Gruber's original design document. All Markdown applications support these elements.

    <table class="table table-bordered">
    <thead class="thead-light">
        <tr>
        <th>Element</th>
        <th>Markdown Syntax</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td><a href="/basic-syntax/#headings">Heading</a></td>
        <td><code># H1<br>
            ## H2<br>
            ### H3</code></td>
        </tr>
        <tr>
        <td><a href="/basic-syntax/#bold">Bold</a></td>
        <td><code>**bold text**</code></td>
        </tr>
        <tr>
        <td><a href="/basic-syntax/#italic">Italic</a></td>
        <td><code>*italicized text*</code></td>
        </tr>
        <tr>
        <td><a href="/basic-syntax/#blockquotes-1">Blockquote</a></td>
        <td><code>> blockquote</code></td>
        </tr>
        <tr>
        <td><a href="/basic-syntax/#ordered-lists">Ordered List</a></td>
        <td><code>
            1. First item<br>
            2. Second item<br>
            3. Third item<br>
        </code></td>
        </tr>
        <tr>
        <td><a href="/basic-syntax/#unordered-lists">Unordered List</a></td>
        <td>
            <code>
            - First item<br>
            - Second item<br>
            - Third item<br>
            </code>
        </td>
        </tr>
        <tr>
        <td><a href="/basic-syntax/#code">Code</a></td>
        <td><code>`code`</code></td>
        </tr>
        <tr>
        <td><a href="/basic-syntax/#horizontal-rules">Horizontal Rule</a></td>
        <td><code>---</code></td>
        </tr>
        <tr>
        <td><a href="/basic-syntax/#links">Link</a></td>
        <td><code>[title](https://www.example.com)</code></td>
        </tr>
        <tr>
        <td><a href="/basic-syntax/#images-1">Image</a></td>
        <td><code>![alt text](image.jpg)</code></td>
        </tr>
    </tbody>
    </table>
{% endif %}