site_name: ${{ values.serviceName }}
site_description: ${{ values.description }}
repo_url: https://github.com/${{ values.repoSlug }}
edit_uri: edit/main/docs

nav:
  - Home: index.md
  - Architecture: architecture.md
  - Runbook: runbook.md

plugins:
  - techdocs-core

markdown_extensions:
  - markdown_inline_mermaid
  - mkdocs_graphviz
